{% extends "base.html" %}
{% block title %}Профиль пользователя {{ author.username }}{% endblock %}
{% block header %}Профиль пользователя {{ author.username }}{% endblock %}
{% load thumbnail %}

{% block content %}

<main role="main" class="container">
  <div class="row">
    {% include 'includes/user_card.html' %}
    <div class="col-md-9">
        {% if top_post %}
          {% include "includes/post_item.html" with post=top_post %}
        {% endif %}
        <div class="container">
          {% for post in page %}
          {% include "includes/post_item.html" with post=post %}
          {% endfor %}

          {% include "includes/paginator.html" with items=page paginator=paginator %}
        </div>
    </div>
  </div>
</main> 

{% endblock %}